<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="notes-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Backend 2 Notes</title>
  </head>
  <body>

    <!--Navigation bar-->
    <iframe src="notes-navbar4.html" frameborder="0" width="100%" height="70px"></iframe>

    <div class="container">
      <div class="jumbotron pl-5">
        <h1 class="display-2 text-info">Backend 2</h1>
        <h2 class="display-5">Section 27-33</h2>
      </div>

      <ul>
        <li class="lecture">Lecture 279: intro to APIs</li>
        <ul>
          <li>application program(ming) interface - interface for codes/computers to talk to each other</li>
          <li>information is requested in the same way you request data</li>
          <li>good place to find APIs (directory): <a href="https://www.programmableweb.com/">ProgrammableWeb</a> </li>
          <li>funny example: <a href="https://www.teslaapi.io/">tesla api</a> </li>
          <li>web apis generally communicate through http requests</li>
        </ul>

        <li class="lecture">Lecture 280: JSON and XML</li>
        <ul>
          <li>how do they work, and what do they send back?</li>
          <li>http request -- > get data back</li>
          <li>data format: XML (extended markup language -  syntax is similar to HTML) and JSON (JavaScript Object Notation)</li>
          <ul class="inner">
            <li>note that eventhing in JSON is a string (need quotes around the key)</li>
            <li>JSON is more popular - most of the time you're making calls in JS, so it's easier to use JSON</li>
          </ul>
          <li>chrome extention: <a href="https://chrome.google.com/webstore/detail/json-viewer/gbmdgpbipfallnflgajpaliibnhdgobh/related">json viewer</a></li>
        </ul>

        <li class="lecture">Lecture 281: making API request with node</li>
        <ol>
          <li><a href="introtonode/apis/firstrequest.js">firstrequest.js</a> </li>
        </ol>
        <ul>
          <li>another way to request in command line: <code>curl</code> - ex <code>curl https://www.google.com/</code> gives all the information </li>
          <li>example: <a href="https://github.com/request/request">github requests</a> </li>
          <li>need to <code>npm install request</code> </li>
          <li>in callback: <code>error</code>, <code>response</code>, <code>body</code> </li>
          <li>run with <code>node firstrequest.js</code> </li>
        </ul>

        <li class="lecture">Lecture 282/3: sunset time API example</li>
        <ul>
          <li>note that this API was retired as of January 3rd, 2019</li>
          <li>just watching for content</li>
          <li>encode a space in a URL: <code>%20</code> </li>
          <li>make sure to parse the JSON: <code>var parsedData = JSON.parse(body);</code> </li>
          <li>access parts of the parsed body using <code>parsedData["key"]["..."]["etc"]</code> </li>
        </ul>

        <li class="lecture">Lecture 284/5: JSON placeholder API example</li>
        <ol>
          <li><a href="introtonode/apis/firstrequest.js">firstrequest.js</a> </li>
          <li><a href="https://jsonplaceholder.typicode.com/">json placeholder</a> </li>
          <li><a href="https://jsonplaceholder.typicode.com/users">go here to get data</a> </li>
        </ol>
        <ul>
          <li>debugging package: <code>npm i -D error-stack-parser</code> -D for development </li>
          <li>new ES6 notation: <code>console.log(`${parsed.name} lives in ${parsed.address.city}`);</code> - pur variables in <code>${variable}</code>, put everything in <code>`everything`</code> and you don't need to use <code>"" +</code> etc  </li>
          <li>just watch a video on ES6 to learn the notation</li>
        </ul>

        <li class="lecture">Lecture 286-90: movie API app</li>
        <ol>
          <li><a href="https://www.omdbapi.com/">omdb</a> </li>
        </ol>
        <ul>
          <li>note</li>
          <ul class="inner">
            <li>General search: <code>http://www.omdbapi.com/?s=guardians+of+the+galaxy&apikey=thewdb</code> </li>
            <li>Search with Movie ID: <code>http://www.omdbapi.com/?i=tt3896198&apikey=thewdb</code> </li>
            <li>So everything is exactly the same as Colt explains in the following videos, except you must append <code>&apikey=thewdb</code> to the end of your url.</li>
          </ul>
          <li>introduction</li>
          <ul class="inner">
            <li>you can npm install multiple things at once: <code>npm install --save express ejs request</code> </li>
            <li>searching things with parameters example: <code>https://www.omdbapi.com/?s=star&apikey=thewdb</code> </li>
          </ul>
          <li>results route</li>
          <ul class="inner">
            <li>need to use wrapper function in the request: <a href="introtonode/movie/app.js">movie/app.js</a> </li>
          </ul>
          <li>displaying data</li>
          <ul class="inner">
            <li>need <code>app.set("view engine", "ejs")</code> </li>
          </ul>
          <li>adding search</li>
          <ul class="inner">
            <li><a href="introtonode/movie/views/search.ejs">search.ejs</a> </li>
          </ul>
        </ul>
      </ul>

      <h1 class="my-3 text-info">Section 28: YelpCamp Basics </h1>
      <ul>
        <li class="lecture">Lecture 272: note</li>
        <ul>
          <li>initial routes</li>
          <ul class="inner">
            <li>setting up the files, folders, etc</li>
          </ul>
          <li>layout</li>
          <ul class="inner">
            <li>recall that partials are now included like: <code><%- include("partials/header") %></code> </li>
            <li>we want to include bootstrap</li>
          </ul>
          <li>creating new campgrounds</li>
          <ul class="inner">
            <li>set up post routes</li>
            <li>we're going to set up a post request to the same name as the get route: <code>app.post("/campgrounds", </code> </li>
            <li>these are different routes because one is a post and one is a get</li>
            <li>restful convention: <code>app.get("/campgrounds/new",</code> should let you generate a new campground </li>
            <li>remember that the form action should be to the post request route <code>form action="/campgrounds"</code> </li>
          </ul>
          <li>basic styling</li>
          <ul class="inner">
            <li>use bootstrap 3.x</li>
            <li>better header/title</li>
            <li>responsive grid display</li>
            <li>header tag has semantic meaning, but function is the same as a div</li>
            <li>fixing the weird spacing because of different sized images: <code>div class="row" style="display:flex; flex-wrap: wrap;"</code> </li>
          </ul>
          <li>styling nav and forms</li>
          <ul class="inner">
            <li>navbar to every page</li>
            <li>style form</li>
            <li>bootstrap <code>form-group</code> adds nice spacing - see <a href="introtonode/yelpcamp/v12/views/new.ejs">new.ejs</a>  </li>
          </ul>
        </ul>
      </ul>
      </ul>

      <h1 class="my-3 text-info">Section 29: Databases </h1>
      <ul>
        <li class="lecture">Lecture 298: what is a database?</li>
        <ul>
          <li>a collection of information/data with an interface (for interaction)</li>
          <li>SQL (relational) vs NoSQL (non-relational)</li>
          <ul class="inner">
            <li>in a relational db, define object, and every instance of a user must follow the definition</li>
            <li>if you want a user to have a relationship with a comment instance, you need a join table that lists the relationships, usually using IDs to represent each part of the relationship (user id, comment id)</li>
            <li>everything is tabular (need definition beforehand) - not flexible</li>
            <li>if you want to add fav color for one user, need fav color for all users</li>
            <li>NoSQL dbs - don't need to define patterns beforehand</li>
            <li>looks like JS - it's called bson, looks like a json</li>
            <li>important: you can just nest comments in there, don't need another table</li>
            <li>easily add favcolor to just one user</li>
          </ul>
        </ul>

        <li class="lecture">Lecture 299/300: mongoDB</li>
        <ul>
          <li>mongoDB is a NoSQL database</li>
          <li>one of the most popular dbs used with node rn</li>
          <li>mean stack: mongo express angular node</li>
          <li><a href="https://www.youtube.com/watch?v=DX15WbKidXY">installation instructions youtube video</a> </li>
        </ul>

        <li class="lecture">Lecture 301: mongoDB commands</li>
        <ul>
          <li>you need to run <code>mongod</code> to have mongo running the whole time - in another tab </li>
          <li>to run the mongo server in another tab: <code>mongo</code> </li>
          <li>make a db: <code>use [whatever name, we're using "dogs"]</code> </li>
          <li>insert instance into collection: <code>db.dogs.insert({name: "rusty", breed: "mutt"})</code>, where db is the the dogs db </li>
          <li>see all dbs: <code>show collections</code> </li>
          <li>find all dogs in collection: <code>db.dogs.find()</code> - will return our dog rusty</li>
          <li>find particular instance of dog: <code>db.dogs.find({name: "rusty"}) </code> </li>
          <li>updating: <code>db.dogs.update({[something to select by]}, {$set: {[what you're updating]}}) </code> - ex: <code>db.dogs.update({breed: "mutt"}, {$set: {name: "tater"}})</code> </li>
          <ul class="inner">
            <li>the <code>$set: {...}</code> makes sure that the other key value pairs aren't overridden when you're updating</li>
          </ul>
          <li>removing from db: <code>db.dogs.remove({breed: "mutt"})</code> </li>
          <li>removing from db - setting a limit: <code>db.dogs.remove({breed: "mutt"}).limit(1)</code> </li>
        </ul>

        <li class="lecture">Lecture 302-4: mongoose</li>
        <ul>
          <li><a href="https://mongoosejs.com/">mongoose</a> - Object Document Modeling (ODM) package for Express</li>
          <li>we would usem mongoose for example when we're adding or updating this to our array/'database' in previous code like yelpcamp</li>
          <li>mongoose makes it easier to interact with mongoDB from inside a JS file - easier and cleaner, but not necessary</li>
          <li>in the <a href="/Users/seasy/Documents/Projects/Web-Dev-Bootcamp/databases/cats.js">cats.js</a> file, in the <a href="/Users/seasy/Documents/Projects/Web-Dev-Bootcamp/databases">databases</a> directory, first <code>npm install mongoose</code> </li>
          <li>make sure mongo is running <code>mongod</code> </li>
          <li>to connect to mongo in the js file via mongoose: <code>mongoose.connect('mongodb://localhost:27017/dbname'); </code> </li>
          <li>detailed comments in <a href="/Users/seasy/Documents/Projects/Web-Dev-Bootcamp/databases/cats.js">cats.js</a></li>
          <li>added a cat to the db in js</li>
          <li>now we can access the db in mongo console: <code>> use cat_app
switched to db cat_app
> show collections
cats
> db.cats.find()</code> </li>
          <li>see how to create, add and save, and retrieve cats in <a href="/Users/seasy/Documents/Projects/Web-Dev-Bootcamp/databases/cats.js">cats.js</a></li>
          <li>pretty much everything needs a callback</li>
        </ul>
      </ul>

      <h1 class="my-3 text-info">Section 30: YelpCamp Data Persistance </h1>
      <ul>
        <li class="lecture">Lecture 305: adding mongoose to YelpCamp</li>
        <ul>
          <li>install and configure mongoose</li>
          <li>setup campground model</li>
          <li>note: always (for these examples) use <code>npm i -S mongoose@5.1.3</code> instead of normal install of mongoose </li>
          <li>see detailed notes in <a href="introtonode/yelpcamp/v12/app.js">app.js</a> comments  </li>
          <li>replacing the old <code>campgrounds</code> array with the database </li>
        </ul>

        <li class="lecture">Lecture 307-8: show route</li>
        <ul>
          <li>restful doutes:</li>
          <ul class="inner">
            <li>name of route - url/path - ver - description</li>
            <li>index - /dogs - GET -  display a list of all dogs</li>
            <li>new - /dogs/new - GET - displays a form to make a new dog</li>
            <li>create - /dogs - POST - add new dog to DB</li>
            <li>show - /dogs/:id - GET - shows info about one dog </li>
          </ul>
          <li>remember you need two routes for a post request - one to show the form, one for form to submit somewhere</li>
          <li>the <code>show</code> route </li>
          <ul class="inner">
            <li>show one thing in particular</li>
          </ul>
          <li>see detailed notes in <a href="introtonode/yelpcamp/v12/app.js">app.js</a> comments  </li>
          <li>how to delete everything: mongo - <code>db.collection.drop()</code> (ex - db.campgrounds.drop)</li>
          <li>campgrounds.ejs should be renamed index.ejs</li>
        </ul>
      </ul>

      <h1 class="my-3 text-info">Section 31: RESTful routing </h1>
      <ul>
        <li class="lecture">Lecture 309: intro to REST</li>
        <ol>
          <li><a href="RESTfulrouting/blogapp">blogapp folder</a> </li>
          <li><a href="RESTfulrouting/blogapp/app.js">app.js</a> </li>
        </ol>
        <ul>
          <li>a convention - for maaping our HTTP routes to CRUD (create, read, update, destroy) functionality</li>
          <li>a pattern for naming the routes (ex. read: <code>/dogs:/id</code>, etc)</li>
          <li>the focus of this section is the routes (he uses semantic UI instead of booststrap to show a different CSS framework)</li>
          <li><a href="chart.html">the 7 RESTful routes - chart.html</a> </li>
          <ul>
            <li>INDEX - <code>/dogs</code> - GET </li>
            <li>NEW - <code>/dogs/new</code> - GET </li>
            <li>CREATE - <code>/dogs</code> - POST - create a new dog, then redirect somewhere</li>
            <li>SHOW - <code>/dogs/:id</code> - GET - takes 1 ID and shows all the information about one specific dog </li>
            <li>EDIT - <code>/dogs/:id/edit</code> - GET - shows edit form for one dog</li>
            <li>UPDATE - <code>/dogs/:id</code> - PUT - update a particular dog, then redirect somewhere</li>
            <li>DESTROY - <code>/dogs/:id</code> - DELETE - in a form, send delete request to delete a particular dog, then redirect somewhere</li>
          </ul>
          <li>the routes that aren't <code>get</code> requests redirect </li>
          <li>notice that some paths are the same, but they're fundamentally different because the HTTP verb (get, put, etc) is different</li>
        </ul>

        <li class="lecture">Lecture 310: RESTful blog app: INDEX</li>
        <ol>
          <li><a href="RESTfulrouting/blogapp">blogapp folder</a> </li>
          <li><a href="RESTfulrouting/blogapp/app.js">app.js</a> </li>
          <li><a href="RESTfulrouting/blogapp/views/index.ejs">app.js</a> </li>
        </ol>
        <ul>
          <li>we will be using the framework <a href="https://semantic-ui.com/">semantic ui</a></li>
        </ul>

        <li class="lecture">Lecture 311/2: blog layout</li>
        <ul>
          <li>header and footer</li>
          <li>adding <a href="https://semantic-ui.com/introduction/getting-started.html#install-semantic-ui">semantic ui</a> </li>
          <li>semantic ui is organized bby component - you can get the CDN of just a component - but we want all of it, so <code>semantic.min.css</code> </li>
          <li>CDN: <code>< link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" ></code> </li>
          <li>navbar in semanti ui is <code>menu</code> </li>
          <li>remember: to add our own stylesheets, it's better to put: <code>/public/stylesheets/app.css</code> - <a href="RESTfulrouting/blogapp/public/stylesheets/app.css">app.css</a> </li>
        </ul>

        <li class="lecture">Lecture 313/14: blog layout</li>
        <ul>
          <li>in this lecture: Colt introduces a new format for sending data to the server from a form.</li>
          <li>Up to this point you have used the name attribute like so: <code>input type="text" name="title"</code> - now, it will be written like this: <code>input type="text" name="blog[title]"</code> </li>
          <li>What this will do is, instead of making the value for title available directly from <code>req.body.title</code> it will put it inside of an object, like so: <code> req.body.blog.title</code> </li>
          <li>Now all of the values from the inputs in the form get added into one object (<code>req.body.blog</code>) and you can easily input that data into the database simply by passing in <code>req.body.blog</code> to <code>Blog.create()</code> </li>
          <li>we use the syntax: <code>name="blog[title]"</code> because it's specific to body-parser </li>
          <hr>
          <li>routes in this video: <code>new</code> (get to <code>/blogs/new</code>) and <code>create</code> (post to <code>/blog</code>)</li>
        </ul>

        <li class="lecture">Lecture 315/6: show</li>
        <ul>
          <li>get request: blogs/id</li>
          <li>note: to show html vs just text:</li>
          <ul class="inner">
            <li><code><%- blog.body %></code> runs html, <code><%= blog.body %></code> shows just the text</li>
          </ul>
          <li>built into js: <code><%= blog.created.toDateString() %></code> </li>
          <li>review: <code><%= blog.body.substring(0,100) + "..." %></code> </li>
        </ul>

        <li class="lecture">Lecture 317: edit and update</li>
        <ul>
          <li>probably the most work</li>
          <li>edit: <code>/blogs/:id/edit</code> </li>
          <li>submitting the form to the right id + showing the information prefilled in the form </li>
          <li>text area does not have a value attribute</li>
          <li>HTML forms only support get or post requests - not put requests</li>
          <li>workaround: by using the <strong>method override</strong> package (npm install)</li>
          <li>adding this to the form action: <code>action="/blogs/<%= blog._id %>?_method=PUT" </code> </li>
          <li>install with <code>npm install --save method-override</code> </li>
          <li>make sure to require and use it: <code>app.use(methodOverride("_method"));</code> - the argument just tells our app to treat <code>_method</code> as a parameter </li>
        </ul>

        <li class="lecture">Lecture 318: destroy</li>
        <ul>
          <li>deleting a particular blog - have to use method override</li>
          <li>need id in the path, then redirect somewhere else</li>
          <li>btw: <strong>method override must use <code>method="post"</code> </strong> </li>
        </ul>

        <li class="lecture">Lecture 319/20: final touches</li>
        <ul>
          <li>sanitizing post - install sanitizer package: <code>npm install --save express-sanitizer</code> </li>
          <li>to use it - must <code>use</code> it after <code>body parser</code> </li>
        </ul>
      </ul>

      <h1 class="my-3 text-info">Section 32: data associations </h1>
      <ul>
        <li class="lecture">Lecture 321: introduction to associations</li>
        <ul>
          <li>one:one, one:many, many:many associations</li>
          <li>ex: user post photo albums comments tags likes</li>
          <li>one:many - user uploads many photos, but photos only have one uplaoder</li>
          <li>many:many - many students can sign up for many courses </li>
        </ul>

        <li class="lecture">Lecture 322: embedded data</li>
        <ul>
          <li>embedding data in mongoose</li>
          <li>see <a href="/associations/embed.js">embed.js</a> </li>
          <li>to have a one to many association (ex. user to posts), we need to include the many in the schema of the one</li>
          <li>so including <code>posts: [postSchema]</code> in the userSchema </li>
          <li>to get just one user: <code>User.findOne(</code> otherwise array is returned </li>
        </ul>

        <li class="lecture">Lecture 323/4: object references</li>
        <ul>
          <li>another way of associating data</li>
          <li>see <a href="/associations/references.js">references.js</a> </li>
          <li>referencing data vs embedding data:</li>
          <ul class="inner">
            <li>we had a posts array connect to users</li>
            <li>instead, we're going to have an array of IDs of posts - storing IDs instead of embedding the entire post</li>
          </ul>
          <li>to make an array of post IDs, not posts, use this:</li>
          <ul class="inner">
            <li>code: <code>posts: [{
              type: mongoose.Schema.Types.ObjectId,
              ref: "Post",
            }]</code> </li>
          </ul>
          <li>how to find all the posts for a user: <code>User.findOne({name:"bob"}).populate("posts").exec(function(err, user){ ... </code> </li>
          <li>ok this doesn't really work in the terminal?</li>
        </ul>

        <li class="lecture">Lecture 325: module exports</li>
        <ol>
          <li><a href="/associations/references.js">references.js</a> </li>
          <li><a href="/associations/models/post.js">post.js</a> </li>
          <li><a href="/associations/models/user.js">user.js</a> </li>
        </ol>
        <ul>
          <li>cleaning up our code and making it more modular - don't need code duplication</li>
          <li>new <code>models</code> directory </li>
          <li>make a <code>post.js</code> and <code>user.js</code> </li>
          <li>export at the end of the module using <code>module.exports = Post;</code> (example - <a href="/associations/models/post.js">post.js</a>) </li>
          <li>how to include in <code>references.js</code>: using <code>var Post = require("./models/post");</code> </li>
        </ul>

      </ul>

      <h1 class="my-3 text-info">Section 33: YelpCamp </h1>
      <ul>
        <li class="lecture">Lecture 326: YelpCamp Refactoring App.js</li>
        <li class="lecture">Lecture 327: YelpCamp seeding the database</li>
        <ol>
          <li><a href="introtonode/yelpcamp/v3/">YelpCamp v3</a></li>
          <li><a href="introtonode/yelpcamp/v3/seeds.js">seeds.js</a></li>
        </ol>
        <ul>
          <li>adding comments to YelpCamp</li>
          <li>start with a <strong>seeds file</strong> - to see the db with some content (sample data)</li>
        </ul>
        <li class="lecture">Lecture 329/30: YelpCamp Comment Model</li>
        <ul>
          <li>displaying our comments in the show route (<a href="introtonode/yelpcamp/v3/app.js"></a>)</li>
        </ul>
        <li class="lecture">Lecture 321-33: YelpCamp creating Comments</li>
        <ol>
          <li><a href="introtonode/yelpcamp/v4/">YelpCamp v4</a></li>
          <li><a href="introtonode/yelpcamp/v4/app.js">app.js (v4)</a></li>
        </ol>
        <ul>
          <li>nested routes</li>
          <ul class="inner">
            <li>review of restful routes: index (<code>/campgrounds</code>), new (<code>/campgrounds/new</code>), create (<code>/campgrounds</code>), show (<code>/campgrounds/:id</code>)</li>
            <li>new: <code>campgrounds/:id/comments/new</code>  GET </li>
            <li>create: <code>campgrounds/:id/comments</code>  post </li>
            <li>nested routes for new and create for comments</li>
          </ul>
          <li>we're going to add 2 new directories to divide the views folder</li>
          <ul class="inner">
            <li>need to change the links to the partials (add <code>../</code>)</li>
            <li>another way of submitting form data: in the <code>input</code>, set <code>name="comment[text]"</code> in square brackets, and we will send back the entire <code>comment</code> object </li>
            <li>access in app.js with <code>console.log(req.body.comment);</code> </li>
          </ul>
          <li>route for form</li>
          <li>new comment form</li>
          <li>in the show template - adding a button to get to new comment page</li>
        </ul>

        <li class="lecture">Lecture 334-6: YelpCamp Styling Comments</li>
        <ol>
          <li><a href="introtonode/yelpcamp/v5/">YelpCamp v5</a></li>
          <li><a href="introtonode/yelpcamp/v5/app.js">app.js (v5)</a></li>
        </ol>
        <ul>
          <li>styling the show page</li>
          <li>better way of adding css: <code>app.use(express.static(__dirname + "/public"));</code> </li>
          <li>our css is at: <code>public/stylesheets/main.css</code> - <a href="introtonode/yelpcamp/v5/public/stylesheets/main.css">here</a> </li>
          <li>dirname is the directory that the script lives in</li>
          <li>don't forget to add the css to the header partial: <code><link rel="stylesheet" href="/stylesheets/main.css"></code> </li>


        </ul>




      </ul>


    </div>

    <script src="eventlistener.js" charset="utf-8"></script>
  </body>
</html>
