.lecture {
  text-transform: capitalize;
}

/* capitalize first letter of all notes */
ul ul li::first-letter {
  text-transform: uppercase;
}

/* spacing */
ul ul {
  padding-bottom: 15px;
}

.inner {
  padding-bottom: 0;
}

.code {
  font-family: courier;
  font-size: 1em;
  color: green;
}
